--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cpu

streamlit==1.32.0
requests==2.31.0
beautifulsoup4==4.12.2
langchain==0.0.350
faiss-cpu==1.7.4
sentence-transformers==2.2.2
python-docx==1.0.1
pypdf==3.17.1
huggingface-hub==0.19.4
torch
torchvision
torchaudio
transformers==4.35.2
numpy==1.24.3
tqdm==4.66.1
safetensors==0.4.1
accelerate==0.24.1 